@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt {
  display: contents;
}

body {
  min-height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

