@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt {
  display: contents;
}

body {
  min-height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.n-slider-handle-wrapper,
.n-slider-rail__fill {
  transition: all 0.15s ease !important;
}

.n-slider.n-slider--with-mark {
  margin-bottom: 1rem;
}
